.header-container {
    height: 62px;
    padding: 0 41px;
    background-color: var(--color-bg-secondary);
    color: var(--color-font-secondary);
    font-weight: 500;
    font-size: 18px;
    display: flex;
    align-items: center;
}